body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family:"Verdana", sans-serif;
}

.colordiv1 {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

.headerlogo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.ulheader {
  font-size: 18px;
  list-style: none;
  display: flex;
  gap: 35px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.herodiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
}
  
h1 {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 48px;
  display: flex;
  margin: 0;
}

.herosec {
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
}

.button1 {
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 150px;
}

.hero1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}


.imageholder {
  background-color: grey;
  width: 650px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.secdiv {
  padding: 50px 300px;
  align-items: center;
  
}

.randominfo {
  font-size: 36px;
  color: #1F2937;
  font-weight: bold;
  text-align: center;
}

.windowdiv1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 50px;
}

.window {
  border: solid #3882F6;
  border-radius: 12px;
  width: 170px;
  height: 170px;
  box-sizing: border-box;
}


.windowfull {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 170px;
  height: 198px;
  box-sizing: border-box;
  color: #1F2937;
}

.windowtext {
  text-align: center;
  box-sizing: border-box;
}


